<div class="modal dropdown-controller upload-modal" [id]="id" tabindex="-1"
  [style]="RemoveBgTop==true?'background-color: #0000004d;':'background: transparent;'" role="dialog"
  [ngClass]="{'Full-Screen-Page':toggleminimize==true}" #PopUpOpenClose>
  <div class="col-12 mt-2" [ngClass]="id" Minimize_Maximize_PopUp [id]="id" role="document" [style.width]="width"
    [style.height]="height" [style]="customstyle" style="height: 63vh;margin: auto !important;">
    <div [ngClass]="{'modal-content':removebg==true}" style="padding: 10px;">
      <div [ngClass]="{'modal-header':removebg==true}">
        {{touchEvent}}
        <h5 [style]="this.ModalTitleStyle" class="modal-title" *ngIf="removebg==true">{{name}}</h5>
        <div class="row" style="margin: auto; margin-right: 10px !important;align-items: center;gap: 10px;justify-content: center;">
          <ng-content select="custom-model-header"></ng-content>
          <button type="button" class="close"
            data-dismiss="modal" aria-label="Close" [attr.popup-close]="id" (click)="ClosePopup()">
            <svg width="20px" height="20px" viewBox="0 0 24 24" class="close" fill="none"
              xmlns="http://www.w3.org/2000/svg" [attr.popup-close]="id" (click)="ClosePopup()">
              <path *ngIf="this.CloseIconColor=='black'"
                d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM15.36 14.3C15.65 14.59 15.65 15.07 15.36 15.36C15.21 15.51 15.02 15.58 14.83 15.58C14.64 15.58 14.45 15.51 14.3 15.36L12 13.06L9.7 15.36C9.55 15.51 9.36 15.58 9.17 15.58C8.98 15.58 8.79 15.51 8.64 15.36C8.35 15.07 8.35 14.59 8.64 14.3L10.94 12L8.64 9.7C8.35 9.41 8.35 8.93 8.64 8.64C8.93 8.35 9.41 8.35 9.7 8.64L12 10.94L14.3 8.64C14.59 8.35 15.07 8.35 15.36 8.64C15.65 8.93 15.65 9.41 15.36 9.7L13.06 12L15.36 14.3Z"
                fill="black" />
                <path *ngIf="this.CloseIconColor!='black'"
                d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM15.36 14.3C15.65 14.59 15.65 15.07 15.36 15.36C15.21 15.51 15.02 15.58 14.83 15.58C14.64 15.58 14.45 15.51 14.3 15.36L12 13.06L9.7 15.36C9.55 15.51 9.36 15.58 9.17 15.58C8.98 15.58 8.79 15.51 8.64 15.36C8.35 15.07 8.35 14.59 8.64 14.3L10.94 12L8.64 9.7C8.35 9.41 8.35 8.93 8.64 8.64C8.93 8.35 9.41 8.35 9.7 8.64L12 10.94L14.3 8.64C14.59 8.35 15.07 8.35 15.36 8.64C15.65 8.93 15.65 9.41 15.36 9.7L13.06 12L15.36 14.3Z"
                fill="white" />
            </svg>
          </button>
        </div>
      </div>
      <div class="modal-body p-0 height-controller" [style.height]="modalbodyheight" [style]="modalbodystyle">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer p-0" *ngIf="this.FooterButton!=false">
        <button type="button" class="footer-btn" [ngClass]="{'btn-disabled-popup':buttondisabled}">
          <span class="close-popup" [attr.popup-close]="id"
            (click)="ClosePopup();OKBUTTON();">{{this.FooterButtonText}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<button style="display: none;visibility: hidden;" type="button" [id]="id" class="PopupOpen"
  [attr.popup-close]="id" (click)="OpenPopup()"></button>